<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" href="/assets/style.css">
<title>{{ page.title | default: "All things C++" }}</title>
</head>

<body bgcolor="white">

<h1 align=center><a href="/cpp/">All things C++</a></h1>

<h2 align=center>by <a href="/">Jorge Velez</a></h2>

This web page contains notes, summaries, and links for reviewing different parts of C++.

{{ content }}

<hr>

<div align=right><address><small><a href="/">Jorge Velez</a> &mdash; 31 May 2026</small></address></div>

</body>
</html>
