
<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>Machine Learning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/simplegrid.css">
  <link rel="stylesheet" href="/assets/jeffe.css">
<title>Machine Learning</title>
</head>

<body bgcolor="white">

<div class="floatright">
<a href="book/tml.pdf"><img src="../images/tml.jpg" width=250></a>
</div>

<h1 align=center><a href="/tml/">Machine Learning
   </a></h1>

<h2 align=center>by <a href="/">Jorge Velez</a></h2>

<hr>
<h3><a name="book">Understanding Machine Learning: From Theory to Algorithms</a></h3>

<ul> 
  <li><b>Entire Book</b> (2014, ~500 pages):
    <ul>
      <!-- <li><a href="/book/uml-full.pdf">Single-page PDF (screen)</a></li>
      <li><a href="/book/uml-2up.pdf">Two-pages per sheet (print)</a></li>
      <li><a href="https://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/">Official site</a></li>
      <li><a href="https://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/understanding-machine-learning-theory-algorithms.pdf">Free PDF download</a></li> -->
    </ul>
  </li>

  <li><b>Chapters</b> 
    <ol start="1">
      <li><a href="/book/ch01-intro.pdf">Introduction</a></li>
      <li><a href="/book/ch02-pac.pdf">A Gentle Start: PAC Learning</a></li>
      <li><a href="/book/ch03-uniform.pdf">The Uniform Convergence Principle</a></li>
      <li><a href="/book/ch04-svm.pdf">Support Vector Machines</a></li>
      <li><a href="/book/ch05-kernel.pdf">Kernel Methods</a></li>
      <li><a href="/book/ch06-nn.pdf">Nearest Neighbor</a></li>
      <li><a href="/book/ch07-decisiontrees.pdf">Decision Trees</a></li>
      <li><a href="/book/ch08-boosting.pdf">Boosting</a></li>
      <li><a href="/book/ch09-modelselection.pdf">Model Selection</a></li>
      <li><a href="/book/ch10-unsupervised.pdf">Unsupervised Learning</a></li>
      <li><a href="/book/ch11-learningtheory.pdf">Foundations of Learning Theory</a></li>
      <li><a href="/book/ch12-agnostic.pdf">Agnostic Learning</a></li>
      <li><a href="/book/ch13-stability.pdf">Stability and Generalization</a></li>
      <li><a href="/book/ch14-online.pdf">Online Learning</a></li>
      <li><a href="/book/ch15-bandits.pdf">Learning with Experts and Bandits</a></li>
      <li><a href="/book/ch16-rl.pdf">Reinforcement Learning</a></li>
    </ol>
  </li>

  <li><a href="/book/backmatter.pdf">Back Matter: References, Index</a></li>
</ul>
<hr>

<!-- 	
<blockquote><blockquote><small>
	<i>If were not a little mad and generally silly
	<br>I should give you my advice upon the subject, willy-nilly;
	<br>I should show you in a moment how to grapple with the question,
	<br>And you'd really be astonished at the force of my suggestion.
	<br>On the subject I shall write you a most valuable letter,
	<br>Full of excellent suggestions when I feel a little better,
	<br>But at present I'm afraid I am as mad as any hatter,
	<br>So I'll keep 'em to myself, for my opinion doesn't matter!</i>
	<div align=right>—W. S. Gilbert and Arthur Sullivan, <a href="https://www.youtube.com/watch?v=zmBri9kvptE">"My Eyes are Fully Open"</a>, <a href="https://en.wikipedia.org/wiki/Ruddigore"><cite>Ruddigore; or, The Witch's Curse</cite></a> (1887)</div>
</small></blockquote></blockquote>
	
<blockquote><blockquote><small>
	<i>It is time we did away with “publish or perish” and replace it with “publish <em>and</em> perish.”<br>
	Nothing will be more blasphemous than writing a textbook that anyone can go out and buy.</i>
	<div align=right>—<a href="http://www.djwoodhouse.com/">Daniel J. Woodhouse</a>, <a href="https://www.mcsweeneys.net/articles/an-open-letter-to-the-mathematical-community">“An Open Letter to the Mathematical Community”</a>, <cite>McSweeny’s</cite> (January 15, 2019)</div>
</small></blockquote></blockquote> -->
<blockquote><blockquote><small>
    <i>We humans are not the end of evolution, so if we can make a machine that's as smart as a person,
    <br>we can probably also make one that's much smarter.
    <br>There's no point in making just another person.
    <br>You want to make one that can do things we can't.</i>
    <div align=right>—Marvin Minsky</div>
  </small></blockquote></blockquote>
  
	
<hr>

<div align=right><address><small><a href="https://jorgevelezcs.com/">Jorge Velez</a> &mdash; 3 Apr 2025</small></address></div>


</body>
</html>